@charset "utf-8";
	body,div,span,h1,h2,h3,h4,h5,h6,p,pre,sup,sub,ul,ol,li,dl,dt,dd,form,fieldset,input,button,textarea,select,iframe,img,a,header,footer,section,article,aside,details,figcaption,figure,hgroup,nav,menu,canvas {
	padding:0;
	margin:0
}
body {
	background-color:#fff;
	color:#000;
	font:12px/20px "Microsoft Yahei",Tahoma,Arial,"Helvetica Neue","Hiragino Sans GB",Simsun,sans-self
}
ul,ol {
	list-style-type:none
}
b,strong {
	font-weight:400
}
i,em {
	font-style:normal
}
a {
	text-decoration:none;
	color:#333
}
.clearfix:after {
	clear:both;
	display:block;
	height:0;
	content:""
}
.contains {
	width:1000px;
	margin:0 auto
}
.crumbNav {
	padding:18px 0;
	color:#323232
}
.crumbNav a {
	color:#ed7f5a
}
.crumbNav a:hover {
	color:#d95459
}
.crumbNav font {
	padding:0 2px;
	font-family:simsun
}
.wareSort {
	padding:15px 8px 15px 7px;
	border:1px solid #ddd;
	background-color:#f8f8f8
}
.wareSort ul {
	float:left;
	width:22%;
	padding:10px;
	border:1px solid #ddd;
	margin-right:7px;
	margin-left:8px;
	background-color:#fff
}
.wareSort ul li a {
	display:block;
	padding-right:25px;
	padding-left:10px;
	border:1px solid #fff;
	line-height:28px;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis
}
.wareSort ul li a:hover {
	color:#727cf5
}
.wareSort ul li.active a {
	border-color:#727cf5;
	background:#727cf5 url(../img/arrow.png) no-repeat right center;
    color:#ffffff;
    font-weight:500;
}
.selectedSort {
	/* padding:10px 15px; */
	/* border:1px solid #ed7f5a; */
	margin-top:5px;
	margin-bottom:10px;
	/* background-color:#fff4f0; */
	/* color:#ed7f5a */
}
.selectedSort b {
	font-weight:700
}
.selectedSort i font {
	font-family:simsun
}
.wareSortBtn {
	padding-bottom:50px;
	text-align:center
}
.wareSortBtn input {
	width:200px;
	height:36px;
	border:1px solid #ed7f5a;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
	background-color:#ed7f5a;
	color:#fff
}
.wareSortBtn input:hover {
	border-color:#d95459;
	background-color:#d95459
}
.wareSortBtn input:disabled {
	border-color:#ddd;
	background-color:#f6f6f6;
	color:#9a9a9a;
	cursor:default
}
