.sf-navbar-second {
    margin-left:56px;
    width:144px;
    padding-left: 0px;
    padding-right: 0px;
    z-index:0
}

.sf-navbar-heading  {
    padding-left: 24px;
    font-size:16px;
    color:#000000c9
}